.app-content-pageManage-practice-list{
  height: 100%;
}

.app-content-pageManage-practice-list .brief-introduction{
  display: flex;
  padding: 16px 32px 0;
  height: 166px;
  background-color: white;
}

.app-content-pageManage-practice-list .brief-introduction-left{
  flex: 1 1;
  height: 150px;
}

.app-content-pageManage-practice-list .brief-introduction-left-title{
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 30px;
}

.app-content-pageManage-practice-list .brief-introduction-right{
  width: 450px;
  height: 150px;
  text-align: center;
}

.app-content-pageManage-practice-list .brief-introduction-right-img{
  width: 195px;
  height: 130px;
}

.app-content-pageManage-practice-list .list-introduction{
  padding: 24px 12px;
}

.app-content-pageManage-practice-list .list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-content-pageManage-practice-list .list-each{
  margin-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
  width: 33%;
  height: 145px;
}

.app-content-pageManage-practice-list .list-each .ant-card{
  display: flex;
  flex-direction: column;
}

.app-content-pageManage-practice-list .list-each .ant-card-body{
  flex: 1 1;
}

.app-content-pageManage-practice-list .list-each .ant-card-meta-avatar{
  width: 64px;
  height: 48px;
}

.app-content-pageManage-practice-list .list-each .ant-avatar{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.app-content-pageManage-practice-list .list-each-add{
  height: 100%;
  width: 100%;
  border: 1px dashed rgb(217,217,217);
  color: rgba(0, 0, 0, 0.45);
  background-color: white;
  text-align: center;
  line-height: 145px;
  cursor: pointer;
  transition: all 0.5s;
}

.app-content-pageManage-practice-list .list-each-add:hover{
  border-color: rgb(64, 169, 255);
  color: rgb(64, 169, 255);
}

.app-content-pageManage-modifyPractice-list{
  height: 100%;
}

.app-content-pageManage-modifyPractice-list .brief-introduction{
  display: flex;
  padding: 16px 32px 0;
  height: 166px;
  background-color: white;
}

.app-content-pageManage-modifyPractice-list .brief-introduction-left{
  flex: 1 1;
  height: 150px;
}

.app-content-pageManage-modifyPractice-list .brief-introduction-left-title{
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 30px;
}

.app-content-pageManage-modifyPractice-list .brief-introduction-right{
  width: 450px;
  height: 150px;
  text-align: center;
}

.app-content-pageManage-modifyPractice-list .brief-introduction-right-img{
  width: 195px;
  height: 130px;
}

.app-content-pageManage-modifyPractice-list .form-field{
  margin: 24px 24px 0;
  padding: 24px;
  background-color:white; 
}

.app-content-pageManage-modifyPractice-list .dropbox {
  width: 400px;
  height: 180px;
  line-height: 1.5;
}

.app-content-pageManage-modifyPractice-list .ant-upload{
  padding: 0;
}

.app-content-pageManage-modifyPractice-list .ant-upload-drag-container{
  transition: all 0.5s;
}

.app-content-pageManage-modifyPractice-list .ant-upload-drag-container:hover{
  background-color: rgba(250, 250, 250, 0.5)
}

.app-content-pageManage-modifyPractice-list .upload-content{
  transition: all 0.5s;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}